<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REST API - MVC</title>
    <link
      rel="stylesheet"
      href="https://www.unpkg.com/bulma@0.9.3/css/bulma.css"
    />
  </head>

  <body>
    <div id="app" class="container is-max-desktop">
      <div class="field">
        <label class="label">Member Name</label>
        <div class="control">
          <input
            type="text"
            placeholder="Member Name"
            class="input"
            name="name"
            id="name"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Role</label>
        <div class="control">
          <input
            type="text"
            placeholder="Role"
            class="input"
            name="role"
            id="role"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Member Active</label>
        <div class="control">
          <input
            type="text"
            placeholder="Member Active"
            class="input"
            name="active"
            id="active"
          />
        </div>
      </div>
      <div class="control">
        <button class="button is-success" id="save">SAVE</button>
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      document.getElementById("save").onclick = () => {
        axios({
          method: "post",
          url: "/admin/api/members",
          data: {
            name: document.getElementById("name").value,
            active: document.getElementById("active").value,
            role: document.getElementById("role").value,
          },
        })
          .then((result) => {
            alert("Info status: " + result.status);
            window.location = "/admin/member";
          })
          .catch((err) => {
            alert("error " + err);
          });
      };
    </script>
  </body>
</html>
